<header class="site-header">
    <div class="container d-flex align-items-center justify-content-between">
        <a class="brand d-inline-flex align-items-center" href="../home/index.html">
            <img src="../home/assets/header-icon.jpg" alt="Logo Care+" width="40" height="40">
            <span class="visually-hidden">Care+</span>
        </a>

        <nav class="main-nav">
            <ul class="nav-list">
                <li><a class="nav-link" href="../../pages/home/index.html">Home</a></li>
                <li><a class="nav-link" href="../../pages/imc.calculator/index.html">Calculadora IMC</a></li>
                <li><a class="nav-link" href="../../pages/wellness.blog/index.html">Blog Wellness</a></li>
                <li><a class="nav-link" href="../../pages/about.us/index.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </div>
</header>